*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}
.box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
}
    @media screen and (max-width: 1576px) {
        .container {
            background-color: #000;
          }
          .box {
            color: #fff;
            background-color: red;
          }
    }
    @media   (min-width: 1064px) and (max-width:1237px){
        .container {
            background-color: yellow;
          }
          .box {
            color: #fff;
            background-color: blue;
          }
    }

    @media   (min-width: 919px) and (max-width:1065px){
        .container {
            background-color: red;
          }
          .box {
            color: #fff;
            background-color: #000;
          }
    }
    @media   (min-width: 754px) and (max-width:920px){
        .container {
            background-color: yellow;
          }
          .box {
            color: #fff;
            background-color: blue;
          }
    }
    @media   (min-width: 0px) and (max-width:753px){
        .container {
            background-color: purple;
          }
          .box {
            color: #fff;
            background-color: rgb(0, 94, 255);
          }
    }